:root {
  --background: rgb(19, 19, 19);
  --accent: rgb(183, 195, 195);
}

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background);
  color: var(--accent);
}
body {
  margin: 0;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0;
}
#time {
  font-size: 80px;
}
#date {
  font-size: 40px;
}

#copy-epoch {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--accent);
  background-color: unset;
  color: var(--accent);
  text-transform: uppercase;
  font-weight: bold;
}

#input {
  background-color: unset;
  border: unset;
  text-align: center;
  width: 1rem;
  display: inline-block;
}

#float {
  position: absolute;
  bottom: 1rem;
}